html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %sans-400;
  font-size: 14px;
  line-height: 1.3;
  color: $text;
  background-color: #fff;
}

.main{
  flex-grow: 1;
}

.top-container{
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.container{
  @extend .top-container;
  max-width: 1200px;
}

.title {
  @extend %serif-400;
  font-size: 20px;
  text-align: center;
  color: $heading;
}