@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//Header//
.header {
  padding: 34px 0;
  background-color: #fff;
}

//Main nav//
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__link {
    transition: all 0.5s;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
    }

    &:active {
      color: rgb(72, 45, 225);
    }
  }
}

//Hero//
.hero {
  margin-bottom: 60px;
  background-color: #fff;

  &__bg {
    position: relative;
    max-width: 1920px;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 50%;
  }

  &__content {
    position: absolute;
    bottom: 60px;
    color: #fff;

    &--red {
      color: rgb(243, 48, 48);
    }
  }

  &__name {
    margin-bottom: 10px;
    text-transform: uppercase;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__title {
    margin-bottom: 10px;
    max-width: 560px;
    @extend %serif-700;
    font-size: 40px;

    @extend %text-hiding;
    -webkit-line-clamp: 2;
  }

  &__list {
    display: flex;
    @extend %serif-400;
  }

  &__list-item {
    max-width: 200px;
    @extend %text-hiding;
    -webkit-line-clamp: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__span {
    color: $by;
  }

  &__link {
    display: inline-flex;
    transition: color 0.4s;

    &:hover {
      color: $accent;
    }

    &:active {
      color: rgb(72, 45, 225);
    }
  }
}

//blog//
.blog {
  background-color: #fff;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;

    @include r(1099) {
      // justify-content: center;
    }
  }

}

.blog-content {
  display: flex;
  flex-wrap: wrap;
  // margin-right: -30px;
  max-width: 800px;

  @include r(1099) {
    // margin: 0 auto;
    // justify-content: space-between;
    justify-content: center;
    // align-items: center;
     max-width:100%;
  }
}


//blog-card//
.blog-card {
  margin: 0 30px 30px 0;
  max-width: 370px;
  box-shadow: (0px 2px 6px rgba(0, 0, 0, 0.1));
  transition: box-shadow 0.5s;

  @include r(1099){
    margin: 0 30px 30px 30px;
  }

  &:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  }

  &__img {
    max-width: 370px;
    max-height: 280px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 56px 14px 60px;
    text-align: center;
  }

  &__name {
    margin-bottom: 16px;

    font-size: 12px;
    text-transform: uppercase;
    color: $accent;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__title {
    margin-bottom: 18px;

  }
}

.blog-card {
  &--fashion {
    max-width: 770px;
    box-shadow: (0px 2px 6px rgba(0, 0, 0, 0.1));

    .blog-card__img {
      margin-bottom: 28px;
      width: 100%;

      object-fit: cover;
      max-width: 770px;
      max-height: 349px;
    }

    .blog-card__link {
      text-align: left;
    }

    .blog-card__box {

      align-items: start;
      text-align: left;
      padding: 0 142px 30px 30px;
    }

    .blog-card__list {
      margin-bottom: 20px;
    }

    .blog-card__text {
      max-width: 616px;
    }
  }
}

.pagination {
  border: 1px solid $border;

  margin: 0 10%;
  transform: translateX(0%);

  &__inner {
    display: flex;
  }

  &__span {
    padding: 0 15px;
    max-width: 200px;
    text-transform: uppercase;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__list {
    display: flex;
    margin: 0 32px;
    color: $heading;

  }

  &__item {
    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__link {
    position: relative;
    padding: 20px;
    display: block;

    transition: color 0.5s;

    &--prev {
      &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 23px;
        background-image: url('../images/icons/angle.svg');
        background-repeat: no-repeat;
        width: 6px;
        height: 10px;
      }
    }

    &--next {
      &::after {
        content: '';
        position: absolute;
        right: 0px;
        top: 23px;
        background-image: url('../images/icons/angle.svg');
        background-repeat: no-repeat;
        transform: rotate(180deg);
        width: 6px;
        height: 10px;
      }
    }

    &--displayed {
      transition: background-color 0.5s;

      &:hover {
        background-color: $border;
      }
    }

    &:hover {
      color: $pagination;
    }

    &:active {
      color: rgb(72, 45, 225);
    }

    &--active {
      color: $pagination;
    }
  }
}

.blog-aside {
  display: flex;
  flex-direction: column;
  max-width: 270px;

  @include r(1099) {
    flex-direction: row;
    flex-wrap: wrap;
    align-self:flex-start;

  }
}

.author {
  padding-bottom: 50px;

  &__title {
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 15px;
    max-width: 270px;
    max-height: 160px;
    width: 100%;
    object-fit: cover;

    box-shadow: (0px 2px 6px rgba(0, 0, 0, 0.1));
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 18px 0px;

    box-shadow: (0px 2px 6px rgba(0, 0, 0, 0.1));
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    }
  }

  &__name {
    color: $heading;
    font-size: 16px;
    @extend %serif-700;
    margin-bottom: 5px;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__position {
    @extend %serifIt-400;
    margin-bottom: 15px;
    line-height: 1.7;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__text {
    margin-bottom: 15px;

  }

  &__link {
    padding: 16px 0;
    border-top: 1px solid #E5E5E5;
    width: 115%;

    transition: all 0.5s;

    &:hover {
      color: #fff;
      background-color: #6bcece;
    }

    &:active {
      color: #277c91;
      background-color: #555858;
    }
  }
}


.posts {
  padding-bottom: 50px;

  &__card {
    padding-bottom: 16px;
    margin-bottom: 30px;
    box-shadow: (0px 2px 6px rgba(0, 0, 0, 0.1));

    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    max-width: 270px;
    max-height: 160px;
  }

  &__content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 20px;
  }


}




.filter-category {

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    margin-bottom: 52px;
  }

  &__item {
    border-bottom: 1px solid $border;

    &:last-child {
      border-bottom: none;
    }

    span {
      max-width: 120px;
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;

    @extend %serif-400;
    transition: color 0.5s;

    &:hover {
      color: red;
    }

    &:active {
      color: rgb(72, 45, 225);
    }

  }
}

.media {
  padding-bottom: 70px;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -3px;
  }

  &__item {
    margin: 0 3px 3px 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    height: 88px;
    width: 88px;
    background-color: $bg;

    &:hover {
      color: $border;
      background-color: $pagination;

      use {
        fill: $border;
      }
    }

    &:active {
      color: rgb(72, 45, 225);

      use {
        fill: rgb(72, 45, 225);
      }
    }

    span {
      font-size: 12px;
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }


  .icon {
    fill: $social;
    width: 20px;
    height: 20px;

    &--fb {
      width: 11px;
    }

    &--pint {
      width: 15px;
    }

    &--vimeo {
      height: 18px;
    }

    &--tw {
      height: 17px;
    }

    &--be {
      height: 13px;
    }

    &--youtube {
      width: 16px;
    }

    &--google {
      width: 22px;
      height: 14px;
    }
  }
}

.tags {

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    margin: 0 10px 10px 0;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__link {
    display: block;
    padding: 6px 13px;
    max-width: 150px;

    @extend %serif-400;
    line-height: 1.9;
    background-color: $bg;

    transition: all 0.5s;

    &:hover {
      background-color: $by;
      color: #ff0000;
    }

    &:active {
      color: rgb(72, 45, 225);
    }
  }
}

.slider-bottom {

  &__title {
    margin-bottom: 46px;

    @extend %serif-400;
    font-size: 24px;
    text-align: center;

    color: $heading;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    a {
      transition: color 0.4s;

      &:hover {
        color: #ff0000;
      }

      &:active {
        color: rgb(72, 45, 225);
      }
    }
  }

  &__list {}


  &__item {
    display: flex !important;
    justify-content: center;

    img {
      max-width: 296px;
      max-height: 296px;
      object-fit: cover;
      transition: opacity 0.6s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

//FOOTER//
.footer {
  padding-top: 100px;
  background-color: #fff;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    img {
      margin: 0 auto 60px;
    }
  }

  &__nav {
    margin-bottom: 30px;
    display: block;
  }

  &__social {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;

    background-color: #fff;
    border: 1px solid $border;
    border-radius: 50%;

    transition: all 0.4s;

    &:hover {
      background-color: $accent;
      border: none;

      use {
        fill: #fff;
      }

    }
  }

  .icon {
    fill: $text;
    height: 17px;

    &--fb {
      width: 10px;
    }

    &--tw {
      width: 16px;
      height: 14px;
    }

    &--pint {
      width: 14px;
    }

    &--google {
      width: 21px;
      height: 14px;
    }

    &--be {
      width: 20px;
      height: 12px;
    }

    &--insta {
      width: 18px;
      height: 18px;
    }
  }


  &__copyright {
    padding: 34px 0;
    width: 100%;
    text-align: center;

    border-top: 1px solid $border;

    p {
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }
}