@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//Header//
.header {
  padding: 34px 0 60px;
  background-color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
  }

  &__bottom {
    position: relative;
    max-width: 1920px;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 50%;
  }

  &__content {
    position: absolute;
    bottom: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: #fff;
  }

  &__name {
    margin-bottom: 10px;
    text-transform: uppercase;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__title {
    margin-bottom: 10px;
    max-width: 560px;
    @extend %serif-700;
    font-size: 40px;

    @extend %text-hiding;
    -webkit-line-clamp: 2;
  }

  &__content-list {
    display: flex;
    @extend %serif-400;
  }

  &__content-item {
    max-width: 200px;
    @extend %text-hiding;
    -webkit-line-clamp: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__span {
    color: $by;
  }

  &__content-link {
    transition: color 0.4s;

    &:hover {
      color: $accent;
    }
  }
}

//Main nav//
.main-nav {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__link {
    transition: all 0.5s;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
}

//blog-card//
.blog-card {
  margin: 0 30px 30px 0;
  max-width: 370px;
  box-shadow: (0px 2px 6px rgba(0, 0, 0, 0.1));
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  }

  &__img {
    margin-bottom: 18px;
    max-width: 370px;
    min-height: 280px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 56px 14px 60px;
    text-align: center;
  }

  &__name {
    margin-bottom: 16px;

    font-size: 12px;
    text-transform: uppercase;
    color: $accent;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1.4;
    @extend %serif-400;
    color: $heading;

    @extend %text-hiding;
    -webkit-line-clamp: 2;
  }

  &__list {
    display: flex;
  }

  &__item {
    max-width: 150px;
    @extend %serif-400;
    font-size: 12px;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__span {
    color: $by;
  }

  &__link {
    transition: all 0.6s;

    &:hover {
      color: $accent;
    }

    &--category {
      &:hover {
        border-bottom: 1px solid #CAE0E1;
        color: #CAE0E1;
      }
    }
  }
}


.blog {
  padding-bottom: 80px;
  background-color: #fff;

  &__inner {
    display: flex;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-right: 100px;
  }
}

.blog-fashion {
  max-width: 770px;
  box-shadow: (0px 2px 6px rgba(0, 0, 0, 0.1));

  &__img {
    margin-bottom: 28px;
    width: 100%;

    object-fit: cover;
    max-width: 770px;
    max-height: 349px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 0 142px 30px 30px;
  }

  .blog-card__list {
    margin-bottom: 20px;
  }

  .blog-card__text {
    max-width: 616px;

    @extend %text-hiding;
    -webkit-line-clamp: 5;
  }
}

.pagination {
  padding: 18px 38px;
  border: 1px solid $border;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__span {
    max-width: 200px;
    text-transform: uppercase;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__list {
    display: flex;
    margin: 0 32px;
    color: $heading;
  }

  &__item {
    max-width: 20px;
    @extend %text-hiding;
    -webkit-line-clamp: 1;

    &:not(:last-child) {
      margin-right: 44px;
    }
  }

  &__link {
    transition: color 0.5s;

    &--prev {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -14px;
        top: 4px;
        background-image: url('../images/icons/angle.svg');
        background-repeat: no-repeat;
        width: 6px;
        height: 10px;
      }
    }

    &--next {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -14px;
        top: 4px;
        background-image: url('../images/icons/angle.svg');
        background-repeat: no-repeat;
        transform: rotate(180deg);
        width: 6px;
        height: 10px;
      }
    }

    &--active {
      color: $pagination;
    }

    &:hover {
      color: $pagination;
    }
  }
}

.blog-aside {
  display: flex;
  flex-direction: column;
  min-width: 270px;

  &__link {
    display: block;
    max-width: 270px;
    padding: 15px 72px;
    margin-bottom: 20px;

    font-size: 16px;
    @extend %serif-400;
    text-align: center;

    border: 1px solid $border;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    transition: all 0.4s;

    &:hover {
      color: #fff;
      background-color: $accent;
    }
  }

  &__card {

    &--line {
      position: relative;
      margin-right: 0;
      margin-bottom: 70px;
      margin: 0 0 70px;

      &::before {
        content: '';
        position: absolute;
        bottom: 44px;
        right: 0;
        border-bottom: 1px solid $border;
        width: 100%;
      }

      img {
        max-width: 270px;
        max-height: 180px;
      }
    }
  }

  &__img {
    max-width: 270px;
    min-height: 160px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 18px 15px;
  }

  &__name {
    color: $heading;
    font-size: 16px;
    @extend %serif-700;
    margin-bottom: 5px;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__position {
    @extend %serifIt-400;
    margin-bottom: 15px;
    line-height: 1.7;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__text {
    margin-bottom: 15px;
    @extend %text-hiding;
    -webkit-line-clamp: 5;
  }

  &__span {
    padding-top: 12px;
    margin-bottom: 0;
  }

  &__card {
    margin-right: 0;
  }

  .blog-card__title {
    font-size: 18px;
  }
}

.filter-category {
  margin-top: 50px; //почему не работает?(не думаю что из-за схлопывания маржинов)

  &__list {
    margin-bottom: 52px;
  }

  &__item {
    border-bottom: 1px solid $border;

    &:last-child {
      border-bottom: none;
    }

    span {
      max-width: 120px;
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;

    @extend %serif-400;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }
}

.media {

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 70px;
  }

  &__item {
    margin: 0 3px 3px 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    height: 86px;
    width: 86px;
    background-color: $bg;

    &:hover {
      color: $border;
      background-color: $pagination;

      use {
        fill: $border;
      }
    }

    span {
      font-size: 12px;
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }


  .icon {
    fill: $social;
    width: 20px;
    height: 20px;

    &--fb {
      width: 11px;
    }

    &--pint {
      width: 15px;
    }

    &--vimeo {
      height: 18px;
    }

    &--tw {
      height: 17px;
    }

    &--be {
      height: 13px;
    }

    &--youtube {
      width: 16px;
    }

    &--google {
      width: 22px;
      height: 14px;
    }
  }
}

.tags {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 10px 10px 0;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__link {
    display: block;
    padding: 6px 13px;
    max-width: 150px;

    @extend %serif-400;
    line-height: 1.9;
    background-color: $bg;

    transition: all 0.5s;

    &:hover {
      background-color: $by;
      color: #ff0000;
    }
  }
}

.slider-bottom {

  &__title {
    margin-bottom: 46px;

    @extend %serif-400;
    font-size: 24px;
    text-align: center;

    color: $heading;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    a {
      transition: color 0.4s;

      &:hover {
        color: #ff0000;
      }
    }
  }

  &__item {

    img {
      max-width: 296px;
      min-height: 296px;
      object-fit: cover;
      transition: opacity 0.6s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

//FOOTER//
.footer {
  padding-top: 100px;
  background-color: #fff;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-bottom: 60px;
  }

  .footer__nav {
    margin-bottom: 30px;
  }

  &__social {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;

    background-color: #fff;
    border: 1px solid $border;
    border-radius: 50%;

    transition: all 0.4s;

    &:hover {
      background-color: $accent;
      border: none;

      use {
        fill: #fff;
      }

    }
  }

  .icon {
    fill: $text;
    height: 17px;

    &--fb {
      width: 10px;
    }

    &--tw {
      width: 16px;
      height: 14px;
    }

    &--pint {
      width: 14px;
    }

    &--google {
      width: 21px;
      height: 14px;
    }

    &--be {
      width: 20px;
      height: 12px;
    }

    &--insta {
      width: 18px;
      height: 18px;
    }
  }


  &__copyright {
    padding: 34px 0;
    width: 100%;
    text-align: center;

    border-top: 1px solid $border;

    p {
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }
}