//Hero//
.hero {
  margin-bottom: 60px;
  background-color: #fff;

  @include r(480) {
    margin-bottom: 30px;
  }

  &__bg {
    position: relative;
    max-width: 1920px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 50%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4));
      z-index: 2;
    }

    // @include r(767) {
    //   min-height: 500px;
    // }

    // @include r(767) {
    //   min-height: 450px;
    // }
  }

  &__content {
    position: absolute;
    bottom: 60px;
    // display: inline-flex;
    // flex-direction: column;
    color: #fff;

    z-index: 100;

  }

  &__link {
    transition: color 0.4s;

    &:hover {
      color: $accent;
    }

    &:active {
      color: $by;
    }

    &--category {
      display: inline-block;
      padding: 15px 0;
      text-transform: uppercase;

      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }


  &__title {
    margin-bottom: 10px;
    max-width: 560px;
    @extend %serif-700;
    font-size: 40px;
    @extend %text-hiding;
    -webkit-line-clamp: 4;

    @include r(767) {
      font-size: 35px;
    }

    @include r(480) {
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
    @extend %serif-400;
  }

  &__list-item {
    max-width: 200px;
    @extend %text-hiding;
    -webkit-line-clamp: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__span {
    color: $by;
  }
}