.pagination {
  margin: 0 10%;
  border: 1px solid $border;
  transform: translateX(0%);

  @include r(991) {
    margin: 0 0 0 -30px;
  }

  @include r(767) {
    min-width: 54%;
  }

  @include r(480) {
    margin: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__span {
    padding: 0 15px;
    text-transform: uppercase;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    @include r(767) {
      display: none;
    }
  }

  &__list {
    display: flex;
    margin: 0 32px;
    color: $heading;

    @include r(767) {
      margin: 0;
    }
  }

  &__item {
    @extend %text-hiding;
    -webkit-line-clamp: 1;

    @include r(480) {
      border: 1px solid $border;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 20px;

    transition: color 0.5s;

    &--prev {
      &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 23px;
        background-image: url('../images/icons/angle.svg');
        background-repeat: no-repeat;
        width: 6px;
        height: 10px;
      }
    }

    &--next {
      &::after {
        content: '';
        position: absolute;
        right: 0px;
        top: 23px;
        background-image: url('../images/icons/angle.svg');
        background-repeat: no-repeat;
        transform: rotate(180deg);
        width: 6px;
        height: 10px;
      }
    }

    &--displayed {
      transition: background-color 0.5s;

      &:hover {
        background-color: $border;
      }
    }

    &:hover {
      color: $pagination;
    }

    &:active {
      color: rgb(72, 45, 225);
    }

    &--active {
      color: $pagination;
    }
  }
}