.slider-bottom {
  &__title {
    margin-bottom: 46px;

    @extend %serif-400;
    font-size: 24px;
    text-align: center;

    color: $heading;

    @extend %text-hiding;
    -webkit-line-clamp: 2;

    a {
      transition: color 0.4s;

      &:hover {
        color: $accent;
      }

      &:active {
        color: $by;
      }
    }
  }

  &__item {
    display: flex !important;
    justify-content: center;

    img {
      max-width: 296px;
      max-height: 296px;

      object-fit: cover;
      transition: opacity 0.6s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
